.chatbot-container {
    position: relative;
}

.chatbot-toggle-button {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    background: rgb(47, 47, 47);
    bottom: 32px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 12px 24px 0px;
    display: flex;
    fill: rgb(141, 141, 141);
    height: 56px;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    right: 32px;
    transform: scale(1);
    transition: transform 0.3s ease 0s;
    width: 56px;
    z-index: 999;

}



